.h1 {
  margin: 0;
  align-self: stretch;
  height: 34px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.wrapper {
  width: 543px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-26xl);
  font-family: var(--font-sangbleu-sunrise);
}
.a,
.div1 {
  position: relative;
  font-weight: 500;
}
.div1 {
  line-height: 28px;
  white-space: nowrap;
}
.a {
  text-decoration: none;
  line-height: 13px;
  color: inherit;
}
.container,
.parent {
  display: flex;
  align-items: flex-start;
}
.container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.parent {
  width: 289px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.empty {
  text-decoration: none;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
}
.scheduleIcon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.div2 {
  height: 13px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 28px;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  white-space: nowrap;
}
.frameParent,
.scheduleIconParent {
  width: 222px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frameParent {
  width: 1224px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
.div,
.mapIcon {
  position: relative;
}
.mapIcon {
  width: 1224px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.div {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 71px var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-42xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1025px) {
  .h1 {
    display: none;
  }
  .wrapper {
    width: 27px;
  }
}
@media screen and (max-width: 975px) {
  .div1 {
    display: none;
  }
  .parent {
    width: 0;
  }
}
@media screen and (max-width: 725px) {
  .parent {
    display: none;
  }
  .frameParent {
    width: 935px;
  }
  .div {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .scheduleIconParent {
    display: none;
  }
  .frameParent {
    width: 1002px;
  }
  .div {
    gap: var(--gap-mini);
  }
}
