.h1 {
  height: 34px;
  width: 355px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.h1,
.p,
.p1 {
  margin: 0;
}
.div1 {
  height: 42px;
  position: relative;
  font-size: var(--font-size-lgi);
  line-height: 29px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-gray-100);
  text-align: right;
  display: inline-block;
  max-width: 100%;
}
.birthdayDiscountParent,
.header {
  width: 1224px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.birthdayDiscountParent {
  display: grid;
  justify-content: flex-start;
  gap: 34.5px;
  grid-template-columns: repeat(3, minmax(289px, 1fr));
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-56xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-gray-300);
  font-family: var(--font-sangbleu-sunrise);
}
@media screen and (max-width: 1025px) {
  .header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .h1 {
    font-size: var(--font-size-17xl);
  }
  .birthdayDiscountParent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(289px, 500px));
  }
}
@media screen and (max-width: 725px) {
  .birthdayDiscountParent {
    gap: var(--gap-mid);
    grid-template-columns: minmax(289px, 1fr);
  }
  .div {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-8xl);
  }
}