.logotip {
  top: 0;
  left: 0;
}
.b,
.logo,
.logotip {
  position: absolute;
}
.logo {
  top: 18px;
  left: 0;
  width: 180px;
  height: 30px;
  font-family: var(--font-gilroy);
}
.b {
  width: 166px;
  margin: 0 !important;
  top: calc(50% - 5.5px);
  left: calc(50% - 83px);
  letter-spacing: 0.1em;
  display: inline-block;
  z-index: 0;
}
.button {
  left: 936px;
  box-shadow: 0 3px 0#ca8532, 0 24px 90px rgba(255, 165, 54, 0.2),
    0 0 9px rgba(255, 255, 255, 0.65) inset;
  border-radius: var(--br-xs);
  background: linear-gradient(-20.59deg, #ffb457, #f4e3c3);
  width: 288px;
  height: 65px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-saddlebrown);
}
.button,
.div1,
.div2 {
  position: absolute;
  top: 0;
}
.div1 {
  left: 0;
  color: var(--color-white);
}
.div2 {
  left: 118px;
}
.category,
.div3,
.div4,
.div5 {
  position: absolute;
  top: 0;
  left: 237px;
}
.category,
.div4,
.div5 {
  left: 342px;
}
.category,
.div5 {
  left: 475px;
}
.category {
  top: 26px;
  left: 264px;
  width: 588px;
  height: 13px;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-200);
}
.content {
  position: absolute;
  top: 60px;
  left: 108px;
  width: 1224px;
  height: 65px;
}
.div6,
.div7 {
  position: absolute;
  top: 0;
  left: calc(50% - 612px);
  text-decoration: underline;
}
.div7 {
  left: calc(50% + 336px);
}
.content02 {
  position: absolute;
  top: 158px;
  left: calc(50% - 612px);
  width: 1224px;
  height: 11px;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.child {
  position: absolute;
  top: -245px;
  left: -245px;
  filter: blur(253.1px);
  border-radius: 50%;
  background-color: rgba(255, 185, 12, 0.08);
  width: 490px;
  height: 490px;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-400);
  height: 229px;
  overflow: hidden;
  text-align: left;
  font-size: 43px;
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
