.div1,
.header {
  position: absolute;
  top: 0;
  left: calc(50% - 267px);
}
.header {
  top: 75px;
  width: 534px;
  height: 34px;
  font-size: var(--font-size-26xl);
  color: var(--color-gray-300);
}
.imgIcon,
.imgIcon1,
.imgIcon2 {
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 256px);
  width: 512px;
  height: 320px;
  object-fit: cover;
}
.imgIcon1,
.imgIcon2 {
  top: calc(50% - 65px);
  left: calc(50% + 291px);
  width: 236px;
  height: 148px;
}
.imgIcon2 {
  left: calc(50% - 527px);
}
.vectorIcon {
  width: 10px;
  position: relative;
  height: 18px;
  object-fit: contain;
}
.div2 {
  top: 139px;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-6xl);
}
.content,
.div2,
.icon {
  position: absolute;
}
.icon {
  top: 139px;
  left: 1184px;
  border-radius: var(--br-3xs);
  width: 60px;
  height: 60px;
  overflow: hidden;
  object-fit: contain;
}
.content {
  top: calc(50% - 110.5px);
  left: calc(50% - 622px);
  width: 1244px;
  height: 320px;
}
.div3,
.div4 {
  position: absolute;
  top: 109px;
  left: calc(50% - 486px);
}
.div4 {
  top: 75px;
  left: calc(50% + 387px);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 569px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-181xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-sangbleu-sunrise);
}
