.div1,
.header {
  position: absolute;
  top: 0;
  left: calc(50% - 394.5px);
}
.header {
  top: 75px;
  left: calc(50% - 394px);
  width: 789px;
  height: 34px;
  text-align: left;
  font-size: var(--font-size-26xl);
  font-family: var(--font-sangbleu-sunrise);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-881xl);
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.p,
.p1 {
  margin: 0;
}
.p1 {
  color: var(--color-gray-100);
}
.div3 {
  position: absolute;
  top: 204.3px;
  left: 12.6px;
  line-height: 25.2px;
  font-weight: 500;
}
.frameParent,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 243.3px;
}
.groupItem {
  border-radius: var(--br-881xl);
  height: 180px;
  overflow: hidden;
}
.p2,
.p3 {
  margin: 0;
}
.p3 {
  color: var(--color-gray-100);
}
.div4 {
  position: absolute;
  top: 204.3px;
  left: 29.7px;
  line-height: 25.2px;
  font-weight: 500;
}
.frameGroup,
.groupInner {
  position: absolute;
  top: 0;
  left: 261px;
  width: 180px;
  height: 243.3px;
}
.groupInner {
  left: 0;
  border-radius: var(--br-881xl);
  height: 180px;
  overflow: hidden;
}
.p4,
.p5 {
  margin: 0;
}
.p5 {
  color: var(--color-gray-100);
}
.div5 {
  position: absolute;
  top: 204.3px;
  left: 27px;
  line-height: 25.2px;
  font-weight: 500;
}
.div2,
.frameContainer,
.frameIcon {
  position: absolute;
  top: 0;
  left: 522px;
  width: 180px;
  height: 243.3px;
}
.div2,
.frameIcon {
  top: 482.8px;
  left: 368.5px;
  width: 702px;
}
.frameIcon {
  top: 0;
  left: 0;
  border-radius: var(--br-881xl);
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.p6,
.p7 {
  margin: 0;
}
.p7 {
  color: var(--color-gray-100);
}
.div7 {
  position: absolute;
  top: 204.3px;
  left: 15.3px;
  line-height: 25.2px;
  font-weight: 500;
}
.groupChild1,
.groupDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 243.3px;
}
.groupChild1 {
  border-radius: var(--br-881xl);
  height: 180px;
  overflow: hidden;
}
.p8,
.p9 {
  margin: 0;
}
.p9 {
  color: var(--color-gray-100);
}
.div8 {
  position: absolute;
  top: 204.3px;
  left: 39.6px;
  line-height: 25.2px;
  font-weight: 500;
}
.frameParent1,
.groupChild2 {
  position: absolute;
  top: 0;
  left: 261px;
  width: 180px;
  height: 243.3px;
}
.groupChild2 {
  left: 0;
  border-radius: var(--br-881xl);
  height: 180px;
  overflow: hidden;
}
.p10,
.p11 {
  margin: 0;
}
.p11 {
  color: var(--color-gray-100);
}
.div9 {
  position: absolute;
  top: 204.3px;
  left: 32.4px;
  line-height: 25.2px;
  font-weight: 500;
}
.frameParent2,
.groupChild3 {
  position: absolute;
  top: 0;
  left: 522px;
  width: 180px;
  height: 243.3px;
}
.groupChild3 {
  left: 0;
  border-radius: var(--br-881xl);
  height: 180px;
  overflow: hidden;
}
.p12,
.p13 {
  margin: 0;
}
.p13 {
  color: var(--color-gray-100);
}
.div10 {
  position: absolute;
  top: 204.3px;
  left: 22.5px;
  line-height: 25.2px;
  font-weight: 500;
}
.div6,
.frameParent3 {
  position: absolute;
  top: 0;
  left: 783px;
  width: 180px;
  height: 243.3px;
}
.div6 {
  top: 189px;
  left: 238px;
  width: 963px;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 820px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lgi-8);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}
